* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

th,
td {
  padding: 10px 15px;
}

body {
  width: 1440px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #5c5858;
  height: 80px;
}

body .header .logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  padding-left: 50px;
}

body .header .logo:hover {
  color: #f59797;
}

body .header .user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding-right: 50px;
}

body .header .user-menu__item {
  padding-right: 10px;
}

body .header .user-menu__item .avatar {
  height: 50px;
  width: 50px;
  border-radius: 999px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

body .header .user-menu__item .avatar:hover {
  height: 80px;
  width: 80px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .header .user-menu .user-name {
  color: #fff;
  font-weight: 500;
}

body .header .user-menu .user-name:hover {
  color: #f59797;
}

main .navigation {
  background-color: rgba(235, 232, 232, 0.61);
}

main .navigation__item {
  padding: 20px 0;
  padding-left: 50px;
}

main .navigation .top-menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding-left: 50px;
  padding-bottom: 20px;
}

main .navigation .top-menu__item {
  padding-right: 30px;
  font-weight: 600;
}

main .navigation .top-menu__item:hover .selected {
  color: blue;
}

main .breadcrumb {
  padding-left: 50px;
}

main .breadcrumb .navigation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

main .breadcrumb .navigation-content__item {
  padding-right: 10px;
}

main .breadcrumb .breadcrumb-title {
  font-size: 48px;
  font-weight: 700;
}

main .content__item {
  padding-left: 50px;
  margin: 35px 50px;
}

main .content .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: solid 1px black;
}

main .content .search-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
}

main .content .search-form__item input {
  border-radius: 5px;
  padding: 5px 10px;
}

main .content .search-form .search {
  font-size: 16px;
  outline: none;
  background-color: #d4d4d4;
  border-radius: 5px;
  padding: 5px 10px;
}

main .content .table {
  width: 1340px;
  margin: 35px 50px 15px 50px;
  font-size: 16px;
  text-align: left;
  border: none;
  border-spacing: 0px;
  line-height: 19.09px;
}

main .content .table .row-heading {
  background-color: #cecece;
  text-align: left;
}

main .content .table .row-heading__item {
  padding-right: 30px;
}

main .content .table .row-heading__item--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .content .table .row-content__item {
  border-bottom: solid 1px #d8d9e0;
}

main .content .table .row-content .face__photo {
  height: 80px;
  width: 80px;
}

main .content .page-list-wrapper {
  width: 1440px;
  height: 36px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .content .page-list-wrapper .page-list {
  width: 33%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content .page-list-wrapper .page-list__item {
  height: 36px;
  width: 36px;
  padding: 10px 10px;
  text-align: center;
}

main .content .page-list-wrapper .page-list__item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #545560;
}

main .content .page-list-wrapper .selected {
  border-radius: 999px;
  background-color: #004ADC;
}

main .content .page-list-wrapper .selected a {
  color: #ffffff;
}

footer {
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 33px;
  color: #92929A;
}
/*# sourceMappingURL=style.css.map */