* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}
th,
td {
  padding: 10px 15px;
}

// block body
body {
  width: 1440px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(92, 88, 88);
    height: 80px;

    .logo {
      font-size: 30px;
      font-weight: 700;
      color: #fff;
      padding-left: 50px;
    }
    .logo:hover  {
      color: #f59797;
    }

    .user-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      padding-right: 50px;

      &__item {
        padding-right: 10px;

        .avatar {
          height: 50px;
          width: 50px;
          border-radius: 999px;
          transition: transform .5s;
        }

        .avatar:hover  {
          height:80px;
          width: 80px;
          transform: scale(1.1);
        }
      }

      .user-name {
        color: #fff;
        font-weight: 500;
      }
      .user-name:hover  {
        color: #f59797;
      }
    }
  }
}

//main
main {
  .navigation {
    background-color: rgba(235, 232, 232, 0.61);

    &__item {
      padding: 20px 0;
      padding-left: 50px;
    }

    .top-menu {
      list-style-type: none;
      display: flex;
      background-color: #fff;
      padding-left: 50px;
      padding-bottom: 20px;

      &__item {
        padding-right: 30px;
        font-weight: 600;

        // .show-checkin {
        //   color: blue;
        // }
      }
      &__item:hover .selected  {

        color: blue;
      }
    }
  }
  .breadcrumb {
    padding-left: 50px;

    .navigation-content {
      display: flex;
      list-style-type: none;

      &__item {
        padding-right: 10px;
      }
    }

    .breadcrumb-title {
      font-size: 48px;
      font-weight: 700;
    }
  }
  .content {
    &__item {
      padding-left: 50px;
      margin: 35px 50px;
    }
    .search-form {
      display: flex;
      align-items: flex-end;
      border: solid 1px black;

      &__item {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;

        input {
          border-radius: 5px;
          padding: 5px 10px;
        }
      }

      .search {
        font-size: 16px;
        outline: none;
        background-color: rgb(212, 212, 212);
        border-radius: 5px;
        padding: 5px 10px;
      }
    }
    .table {
      width: 1340px;
      margin: 35px 50px 15px 50px;
      font-size: 16px;
      text-align: left;
      border: none;
      border-spacing: 0px;
      line-height: 19.09px;

      .row-heading {
        background-color: rgb(206, 206, 206);
        text-align: left;

        &__item {
          padding-right: 30px;

          &--flex {
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .row-content {
        &__item {
          border-bottom: solid 1px #d8d9e0;
        }
        .face {
          &__photo {
            height: 80px;
            width: 80px;
          }
        }
      }
    }
    .page-list-wrapper {
      width: 1440px;
      height: 36px;
      text-align: center;
      display: flex;
      justify-content: center;

      .page-list {
        width: 33%;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &__item {
          height: 36px;
          width: 36px;
          padding: 10px 10px;
          text-align: center;
  
          a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            color: #545560;
          }
        }
      }

      .selected {
        border-radius: 999px;
        background-color: #004ADC;
        
        a  {
          color: #ffffff;
        }
      }     
    }
  }
}

footer  {
  width: 1440px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 33px;
  color: #92929A;
}
